<footer class="footer py-3 mt-auto" style="background-color: #333;">
    <div class="container d-flex justify-content-center align-items-center">
        <p class="text-center text-light fw-lighter">&copy; Booking-Ticket 2024</p>
    </div>
</footer>

<style>
  .footer {
    background-color: #2c3136 !important;
  }
  .footer .text-light {
    color: #f8f9fa !important;
  }
</style>
